/* signup.css */

.web-container {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C7B7A3;
  }
  
  .signup-content{
    display: flex; 
    align-self: start;
  }
  
  .image-container{
    width: 250px;
  }
  
  .image-container img{
    width: 300px;
    height: 400px;
    padding-top: 25%;
    padding-left: 40px;
    padding-bottom: 35px;
  }
  
  
  .signup-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
  }
  
  .signup-container {
    margin-right: 20px; 
    width: 850px; 
    padding: 20px;
    background-color: #F9EFDB;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

  .signup-form{
    padding-left: 80px;
    padding-top: 50px;
  }
  
  .signup-form h1 {
    margin-bottom: 20px;
    font-family: sans-serif;
    font-size: 35px;
    font-weight: 1000;
    color: #561C24;
    text-align:center;
  }
  
  .signup-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin-left: 120px;
    padding-top: 48px;
  }
  
  .signup-container input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: beige;
    border-radius: 4px;
    width: 280PX; 
  }
  
  .email-label ,
  .fullname-label{
    font-weight: bold;
    color: #561C24;
    margin-bottom: 5px;
  }
  
  .signup-container button {
    width: 100%; 
    margin-top: 10px; 
    padding: 10px 0;
    background-color: #561C24;
    font-size: 12px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .signup-container button:hover {
    background-color: #371f1f;
  }

  .signup-container .signup-content .signup-form .continue {
    font-size: 14px; 
    padding: 8px 16px; 
    margin-top: 10px; 
    width: 80px;
  }
  