main {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    align-items: flex-start;
    justify-content: flex-start;
  }


.header{
    display: flex;
    flex-direction: column;
    margin: 30px;
    margin-bottom: 3px;
    background-image: url(../assets/bg2.png);
    background-repeat: no-repeat;
    background-position: right;

}
  
.text{
    font-family: 'Times New Roman';
    font-size: 60px;
    font-weight: 200;
    margin-left: 0;
    margin-top: 5px;
    text-align: left;
    display: block;
    color: #303a6d;
}

.header p{
    margin-left: 0;
    text-align: justify;
    font-size: 18px;
    font-family: 'Times New Roman';
    margin-right: 600px;
    color: rgb(94, 116, 161);    
}

.image{
    justify-content: right;
    margin-right: 30px;
}

.about, .image{
    display: flex;
    flex-direction: row;
}

.image img{
    width: 390px;
    height: 500px;
}

.content {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    padding: 20px;
    background-image: url(../assets/bg3_bflower.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 450px;
  }
  
.about {
    flex: 1; 
    text-align: left;
    padding: 20px;

}
  
.about p{
    font-family: ui-monospace ;
    font-size: 100px;
    margin: 70px;
    color: #464d74;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-left: 10px;
}
  
  .image {
    flex: 1; 
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 20px;
  }

  .image img{
    max-width: 80%;
    height: auto;
    border-radius: 900px;
    border-color: #303a6d;
    margin-right: -50px;
  }
  
  .about p:hover{
    color: rgb(34, 79, 79);
    transform: scale(1.05);
  }

