main {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    align-items: flex-start;
    justify-content: flex-start;
  }


.header{
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-bottom: 3px;
    background-image: url(../assets/bg2.png);
    background-repeat: no-repeat;
    background-position: right;

}
  
.text{
    font-family: 'Times New Roman';
    font-size: 60px;
    font-weight: 200;
    margin-left: 0;
    margin-top: 5px;
    text-align: left;
    display: block;
    color: #303a6d;
}

.header p{
    margin-left: 0;
    text-align: justify;
    font-size: 18px;
    font-family: 'Times New Roman';
    margin-right: 600px;
    color: rgb(94, 116, 161);    
}

.image{
    justify-content: right;
    margin-right: 30px;
}

.about, .image{
    display: flex;
    flex-direction: row;
}

.image img{
    width: 390px;
    height: 500px;
}

.content {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    padding: 20px;
    background-image: url(../assets/bg3_bflower.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-position-x: 450px;
  }
  
.about {
    flex: 1; 
    text-align: left;
    padding: 20px;

}
  
.about p{
    font-family: ui-monospace ;
    font-size: 100px;
    margin: 70px;
    color: #464d74;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-left: 10px;
}
  
.content .about .additional-content p{
  font-size: 20px;
  font-weight: 300;
  color: #f0f0f0;
  width: 230px;
}

  .image {
    flex: 1; 
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 20px;
  }

  .image img{
    max-width: 80%;
    height: auto;
    border-radius: 900px;
    border-color: #303a6d;
    margin-right: -50px;
  }
  
  .about p:hover, .work p:hover, .education p:hover, .hobbies p:hover{
    color: rgb(34, 79, 79);
    transform: scale(1.05);
  }

  .education{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 320px;
    background-image: url(../assets/flower.png);
    background-repeat: no-repeat;
    background-size: 690px;
    background-position: right;
  }

  .education p{
    font-family: ui-monospace ;
    font-size: 130px;
    margin: auto;
    color: #464d74;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-left: 160px;
    margin-top: 90px;
  }

.work{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 320px;
  background-image: url(../assets/bg2.png);
  background-repeat: no-repeat;
  background-size: initial;
}

.work p{
  font-family: ui-monospace ;
  font-size: 130px;
  margin: auto;
  color: #464d74;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-right: 160px;
  margin-top: 90px;
}

.hobbies{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 320px;
  background-image: url(../assets/gleaf.png);
  background-repeat: no-repeat;
  background-size: 420px;
}

.hobbies p{
  font-family: ui-monospace ;
  font-size: 130px;
  margin: auto;
  color: #464d74;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-right: 160px;
  margin-top: 90px;
}

/* Add a hidden class for the initial state */
.hidden {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Add a visible class for the final state */
.visible {
  opacity: 1;
  transform: translateX(0);
}

.about.hidden {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.about.visible {
  opacity: 1;
  transform: translateX(0);
}



