/* location.css */

.location-page {
  background-color: white;
  padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .location-header {
    text-align: center;
    margin-bottom: 10px; 
    height: 70vh;
    width: 180vh;
  }
  
  .food-image {
    max-width: 100%;
    height: 100%;
    max-height: 450px;
    object-fit: cover;
    object-position: center;
    filter: url();
  }
  
  .location-map {
    margin-top: 15px; /* Added margin at the top for spacing */
  }
  
  .location-map .location-image {
    max-width: 470px; 
    height: 490px; 
  }
  
  .location-details {
    margin-top: 20px;
    text-align: center;
  }
  
  .address, .contact, .additional-info {
    margin-bottom: 20px;
  }

  address p{
    display: inline-block; /*in order to display address*/
  }
  
  h2 {
    color: #333;
    font-size: 20px;
    font-weight: bold;
  }
  
  p {
    color: #666;
    font-size: 16px;
    margin: 5px 0;
  }
  
  .cta {
    margin-top: 20px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #AAC8A7;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .btn:hover {
    background-color: #7f9278;
  }