/* location.css */

.location-page {
  background-color: white;
  padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .location-header {
    text-align: center;
    margin-bottom: 10px; 
    height: 70vh;
    width: 180vh;
  }
  
  .food-image {
    max-width: 100%;
    height: 100%;
    max-height: 450px;
    object-fit: cover;
    object-position: center;
    filter: url();
  }
  
  .location-map {
    margin-top: 15px; /* Add margin at the top for spacing */
  }
  
  .location-map .location-image {
    max-width: 470px; 
    height: 490px; 
  }
  