body.modal-open {
    overflow: hidden;
  }


  .popup-container {
    position: absolute;
    top: 1rem;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
  
.popup {
    margin: 2px;
    background-color: white;
    width: 55vw;
    border-radius: 5px;
    padding: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 80vh;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}


.close {
    width: 100%;
    float: left;
    display: flex;
    justify-content: flex-end;
}
button.close-btn {
    padding: 5px;
    width: 50px;
    height: auto;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}
.close-btn:hover {
    background-color: red;
    color: white;
  }
  
.popup-header {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.popup-header h2{
    margin: 0;
    padding: 7px;
    padding-left: 30px;
}
.popup-pic {
    width: 80%;
    height: 100%;
    order: 1;
    cursor: pointer;
}
.popup-pic img {
    width: 100%;
    height: 100%;
    
}
.popup-content {
    width: 100%;
    height: 100%;
}
.popup-body {
    order: 2;
    width: 50%;
}
  /* CSS for the form */
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0rem 2rem 1rem 2rem;
}
  
 form h3{
    font-size: 16px;
    font-weight: 100;
    margin: 1rem 0rem 1rem 0rem;
}
 
  
  /* CSS for the input fields */
  input#email,input#name,
  input#password1 {
    width: 100%; /* Take up full width */
   height: 2.5rem; /* Adjust as needed */
   margin-bottom: 16px;
    background-color: rgb(226 226 226);
    color: black;
    border: none;
    outline: none;
  }
  button[type="submit"] {
    width: 100%;
    align-self: center;
    height: 3rem;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
  }
  .text {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem; /* Adjust as needed */
    cursor: pointer;
  }
  .text::before {
    content: "";
    flex: 1;
    height: 1px;
    background-color: black; /* Color of the line */
    margin-left: 1rem; /* Adjust as needed */
  }
  
  /* CSS for the text */
  .text h3 {
    margin: 0; /* Remove default margin */
    padding: 0 1rem; /* Adjust as needed */
  }
  
  /* CSS for the line */
  .text::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: black; /* Color of the line */
    margin-right: 1rem; /* Adjust as needed */
  }
  .signin-buttons {
    margin: 0rem 2rem 1rem 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1.5rem;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.signin-texts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.text1 {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

button.sign1 {
    width: 100%;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    height: 3rem;
    cursor: pointer;
}
button.signtext {
    background: none;
    outline: none;
    border: none;
    text-decoration: underline;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 14px;
    margin-top: 0.8rem;
    cursor: pointer;
    margin-bottom: 20px;
}
.signin-texts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0rem 2rem 1rem 2rem;
    cursor: pointer;
}