.title{
    width: 100vw;
    height: auto;

}

.pic{
    width: 100%;
    height: 50vh;
}
.pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}