.container {
  background-image: url('../assets/food2.jpg'); /* Set the background image */
  background-size: cover;
  background-position: center;
  min-height: 100vh; /* Ensure the container takes up at least the full height of the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
}


.about {
  background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent background */
  padding: 20px;
  margin: 50px auto; /* Center the popup */
  max-width: 800px; /* Limit the width of the popup */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.story {
  background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent background */
  padding: 20px;
  margin: 50px auto; /* Center the popbottom */
  max-width: 800px; /* Limit the width of the popbottom */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.popbottom h1 {
  margin-top: 0; 
}
