/* About.css */

body {
  margin: 0;
}

header {
  background-color: #ffffff; /* Change background color as needed */
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; /* Ensure header is on top */
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px; /* Adjust logo height as needed */
  margin-right: 10px;
}

header {
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #080000; 
  
}

.main {
  padding-top: 80px; /* Adjust padding to account for header height */
}

.background-image {
  background-image: url('../src/assets/food4.jpg'); /* Replace 'background.jpg' with your image */
  background-size: cover;
  width: 100%;
  height: 200vh;
  position:absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* About.css */

.popup {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding: 30px;
  width: 80%;
  max-width: 600px;
  margin: 200px auto 0 auto; /* Center popup horizontally and adjust margin-top */
  text-align: center;
  position: relative;
  z-index:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.popup h2 {
  color: #333;
}
.popup h3{
  color: #333;
}

.popup p {
  color: #666;
  line-height: 1.5;
}
footer {
  background-color: #f0f0f0; /* Secondary color from your color palette */
  padding: 10px;
  text-align: center;
}

