.card-box {
    background-color: white;
    width: 18vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    cursor: pointer;
}

.card {
    width: 15vw;
    max-width: 15vw;
    height: auto;
    position: relative;
    top: -3vw;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 22vh;
    padding-top: 25px;
    object-fit: cover;
    object-position: center;
}

.card-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    top: -2vw;
    font-size: 0.8vw;
}

.buttons {
    border: none;
    background-color: #0f0f0f;
    color: white;
    font-size: 0.8vw;
    outline: none;
    padding: 1vw;
    margin-bottom: 1.9vw;
    cursor: pointer;
}

.buttons:hover {
    background-color: maroon;
}

.menu-card {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    width: 100%;
    top: -2rem;
}

.menu-description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.menu-description h3 {
    margin: 0;
    padding: 10px;
}

.menu-card p {
    margin: 0;
    padding: 10px;
}

.menu-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
    margin-bottom: 0.8vw;
}

.button {
    border: none;
    background-color: #0f0f0f;
    color: white;
    font-size: 0.8vw;
    outline: none;
    padding: 1vw;
    cursor: pointer;
}

.button:hover {
    background-color: maroon;
}

.booked-menu {
    padding-top: 15px;
}

@media screen and (max-width: 1024px) {
    .card-box {
        width: 16rem;
        height: 23rem;
    }
    
    .card {
        width: 9rem;
        height: 6.5rem;
        top: -2rem;
    }

    .card-contents {
        font-size: 9px;
        top: -2rem;
    }

    .buttons {
        font-size: 12px;
        padding: 0.6rem;
    }
}
