.footer {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2rem;
    padding-top: 0rem;
    background-color: #f0f0f0;
    align-items: center;
    flex-wrap: wrap;
}

.fleftside {
    width: auto;
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
}
.flogos {
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 18rem;
    padding: 15px;
}
  f.leftside img {
    width: 3vw;
    height: auto; /* Adjust the height of the logo as needed */
    
} 
  .flogos img {
    width: 40px;
    height: auto;
  }
  .txtheader h1{
    margin: 0px;
    padding: 0px;
  }
  .txtheader a {
    text-decoration: none; /* Remove underline from links */
    color: #333; /* Change link color */
    font-size: 14px; /* Set font size */
  }
 
    .fmiddle {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        padding: 0px 0px;
        gap: 4%;
        transition: none;
    } 
  
    .fmiddle a {
        text-decoration: none;
        color: #333;
        font-size: 14px;
        margin: 10px;
    }
    .texts{
        padding-left: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap:3vw;
        font-size: 12px;
    }
    .frightside {
        width: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: auto;
        justify-content: space-around;
        align-items: flex-end;
        padding-right: 5vw;
    }
    .social-icons {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 21px;
        padding-top: 12px;
        left: 0;
        position: relative;
    }
    .social-icons img {
        width: 33px;
        height: auto;
    }

.address {
   
    padding-right: 4vw;
}
@media  screen and (max-width: 768px) {
    .social-icons {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 21px;
        padding-top: 12px;
        left: 0;
        position: relative;
    }
    .address {
        padding-right: 0vw;
    }
    .frightside {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-right: 0vw;
    }
    .texts {
        padding-left: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3vw;
        font-size: 12px;
    }
    .fmiddle a {
        text-decoration: none;
        color: #333;
        font-size: 14px;
        margin: 10px;
    }
    .txtheader a {
        text-decoration: none;
        color: #333;
        font-size: 14px;
    }
    .fleftside {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .fmiddle {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        padding: 0px 0px;
        gap: 4%;
        transition: none;
    }
    .footer {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 2rem;
        padding-top: 0rem;
        background-color: #f0f0f0;
        align-items: center;
        flex-wrap: wrap;
    }
    
}