header{
  display: flex;
  justify-content: center;
  width: auto;
  overflow: hidden;
  z-index: 999999;
}

.navbar {
  position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    width: 100vw;
    z-index: 99999;
    background-color: white;
  }
  .leftside {
    display: flex;
    width: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    
  }
  .logos{
    display: flex;
    height: auto;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    width: auto;
    padding: 0px 10px;
  }
  .leftSide img {
    width: 3vw;
    height: auto; /* Adjust the height of the logo as needed */
    
} 
  img {
    width: 100%;
    height: auto;
  }
  .txtheader h1{
    margin: 0px;
    padding: 0px;
  }
  .txtheader a {
    text-decoration: none; /* Remove underline from links */
    color: #333; /* Change link color */
    font-size: 1.0vw; /* Set font size */
  }
  .rightSide {
    display: flex;
    width: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    
  }
  .logo-buttons{
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: auto;
    padding: 0px 10px;
  }
  .logo-buttons a{
    text-decoration: none; /* Remove underline from links */
    color: #ffffff; /* Change link color */
  
  }
  .rightSide img {
    width: 3vw;
    height: auto; /* Adjust the height of the logo as needed */
    
} 
  img {
    width: 100%;
    height: auto;
  }
  .txtbtn{
    width: auto;
    height: auto;
  }
.txtbtn h3{
  margin: 0;
  padding: 0;
}

.middle{
  display: flex;
  width: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  padding: 0px 10px;
  transition: none;
}

.middle a {
  text-decoration: none; /* Remove underline from links */
  color: #333; /* Change link color */
  font-size: 0.95vw; /* Set font size */
  margin: 0vw 0.75vw; /* Add margin between links */
}
.nav-btn {
  padding: 0px;
  font-size: 28px;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  visibility: hidden;
  opacity: 0;
}

.book-btn{
  background-color: black;
    color: aliceblue;
    border-radius: 1rem;
    padding: 0.6vw;
    height: auto;
    font-size: 0.75vw;
    text-align: center;
    cursor: pointer;
}
.responsive{
  transform: none;
}
@media(min-width: 768px) and (max-width: 991px) {

  .navbar {
    position: fixed;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 10px;
      cursor: pointer;
      width: 100vw;
      z-index: 99999;
      background-color: white;
    }
  
  .nav-btn {
    order: 2; /* Display at the end */
  }

  .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  .responsive .nav-btn{
    visibility: visible;
    opacity: 0;
  }
  .responsive .nav-btn.close{
    visibility: visible;
    opacity:1 ;
  }

  .middle {
    position: fixed;
    top: 0; /* Change to top: 0; */
    left: 0%;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1.5rem;
    background-color: black;
    transition: transform 0.6s; /* Add ease-in-out */
    transform: translateX(-100%);
    flex-wrap: nowrap;
    align-items: center;
    z-index: 0;
  }

  .responsive {
    transform: translateX(0);
  }

  .middle a {
    font-size: 2.5vw;
    color: white;
  }

  .nav-btn.close {
    position: absolute;
    top: 1rem;
    right: 3rem;
    color: white;
  }
  
  .leftSide img {
    width: 40px;
    height: auto; /* Adjust the height of the logo as needed */
    
} 
.book-btn {
  background-color: black;
  color: aliceblue;
  border-radius: 1rem;
  padding: 10px;
  height: auto;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
}
.rightSide img {
  width: 40px;
  height: auto; /* Adjust the height of the logo as needed */
  
} 
.logo-buttons {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  gap: 45px;
  width: auto;
  padding: 0px 10px;
}
}

@media (max-width: 767px) {

  .navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    cursor: pointer;
    width: 100vw;
    z-index: 99999;
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    height: auto;
    
  }

 
  .scrolled .logo-buttons {
    display: none; /* Hide the logo-buttons when scrolled */
  }
.logos {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  width: auto;
  padding: 0px 4vw;
}
.txtheader a {
  text-decoration: none; /* Remove underline from links */
  color: #333; /* Change link color */
  font-size: 12px; /* Set font size */
}
  .nav-btn {
    visibility: visible;
    opacity: 1;
    padding: 14px 15px 0px 0px;
  }
  

  .responsive .nav-btn{
    visibility: visible;
    opacity: 0;
  }
  .responsive .nav-btn.close{
    visibility: visible;
    opacity:1 ;
  }

  .middle {
    position: fixed;
    top: 0;
    left: 0%;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1.5rem;
    background-color: black;
    transition: transform 0.6s;
    transform: translateX(-100%);
    flex-wrap: nowrap;
    align-items: center;
    z-index: 0;
    padding: 12px;
}

  .responsive {
    transform: translateX(0);
  }

  .middle a {
    font-size: 14px;
    color: white;
    padding: 20px;
  }

  .nav-btn.close {
    position: absolute;
    top: 1rem;
    right: 3rem;
    color: white;
  }
  
  .leftSide img {
    width: 40px;
    height: auto; /* Adjust the height of the logo as needed */
    
} 
.book-btn {
  background-color: black;
  color: aliceblue;
  border-radius: 1rem;
  padding: 10px;
  height: auto;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
}
.rightSide {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
}
.rightSide img {
  width: 40px;
  height: auto; /* Adjust the height of the logo as needed */
  
} 
.logo-buttons {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  gap: 45px;
  width: auto;
  padding: 0px 10px;
}

.navbar.menu-design {
  /* Add styles for menu item design */
 
  /* Add more styles as needed */
}
}

